# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
*.vscode
PROMPTS_USED.md

# Vendors
node_modules/

# Build
dist/
/npm-debug.log
playwright-report/
test-results/